protobuf
django
djangogrestframework
channels
django-cors-headers
daphne
google-cloud-speech
google-auth
whitenoise
openai
dotenv
transformers
requests
pydub
streamlit
spacy
python-dotenv
langchain
langchain-community
google-cloud-texttospeech
pydub
SpeechRecognition
sentence-transformers
rich
python-dotenv
spacy
requests
torchaudio
torch
transformers
groq
tqdm
google-generativeai